
*{
    background-color: black;
    color: antiquewhite;
}



.container{
    background-color: rgb(49, 103, 103);
    width:  60vw;
    height: 50vh;
    border: 5px solid rgb(80, 22, 22);
}

/* .container{    
    gap: 10px;
} */
.box{
    width: 20vw;
    height: 10vh;
    margin-top: 30px;
    margin-left: 10px;
    background-color: blueviolet;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-7{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: MyAnimaa 7s ease-in-out 4 forwards,
                aniRotate 3s ease-in 3s reverse;
}
@keyframes aniRotate {
    0%{transform: rotate(100deg);}
    20%{transform: rotate(200deg);}
    50%{transform: rotate(400deg);}
    60%{transform: rotate(600deg);}
    90%{transform: rotate(1000deg);}
}

@keyframes MyAnimaa {
    from{
        background-color: blue;
    }
    to{
        background-color: yellow;
    }
}






/* .box-8{
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function:ease-in-out;
    transition-delay: 1sec;
} */

/* .translate2{
    transform: translateX(10vw) translateY(30vh);
    background-color: black;
} */

/* .box-1{
    grid-area: nav;
    background-color: brown ;
}
.box-2{
    grid-area: side;
    background-color: palevioletred;
}
.box-3{
    grid-area: article;
    background-color: cornflowerblue;
}
.box-4{
    grid-area: footer;
    background-color: darkgreen;
} */

/* .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    place-items: center;
}

.box-2{
    justify-self: end;
    align-self: flex-end;
} */



























/*
.container{
    display: flex;
    border: 2px solid blueviolet;
    gap: 30px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    width: 50px;
    height: 30px;
    color: aliceblue;
    border: 2px solid grey;
}

table{
    margin-top: 40px;
    border: 2px salmon;
    border-collapse: separate;
    /* padding: 5px;
    height: auto;
    width: auto; */
    gap: 30px;
} */