<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- navbar.ejs -->
<nav class="navbar">
  <ul class="navbar-blocks">
    <% for (var i = 0; i < links.length; i++) { %>
      <li class="nav-icon">
        <a href="<%= links[i].href %>" class="nav-link">
          <%- links[i].icon %>
          <span class="link-text"><%= links[i].text %></span>
        </a>
      </li>
    <% } %>
  </ul>
</nav>
</body>
</html>