body{
  background-color: black;
}

nav{
  background-color: bisque;
  color: black;
  display: flex;
}

a li{
  padding: 24px;
  list-style: none;
}

.red{
  background-color: red;
  color: aliceblue;
}